
@import "normalize.min.css"; 
@import "./commons/style.scss";
@import "./animate/animate.min.css";
@import "./flexbox/flexboxgrid.scss";


.container {
    max-width: 1360px;
    margin : 0 auto;
    padding: 0 10px;
    width: 100%;
}

.preloader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #e8e8e8;
    width: 0%;
    height: 0%;
    z-index: 22222222;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
    &.active {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        opacity: 1;
      
    }
    .logo-center {
        max-width: 200px;
        animation: pulse infinite;
        animation-duration: 500ms;
        
    }
    
    
}


