.pagination {
    width: 100%;
    border-top: solid 1px #eee;
    display: flex;
    margin: 20px 0;
    padding-top: 20px;
    button {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      text-transform: capitalize;
      color: #505050;
      border: solid 0px;
      height: 30px;
      margin-right: 8px;
      border-radius: 5px;
      padding: 10px;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, .05) 0px 3px 10px;
      &.selected {
        background-color: #00cc60;
        box-shadow: rgba(0, 204, 96, .6) 0px 3px 10px;
        color: #fff;
      }
      &:disabled {
        opacity: .5;
        cursor: initial;
      }
      svg {
        opacity: .5;
      }
    }
  }